# DeployStage can be 'dev' or 'prod'.
DeployStage = "dev"
PublicAddr = "127.0.0.1:6020"
ListenAddr = "127.0.0.1:6020"

[Database]
ServiceAddr = "127.0.0.1:5432"
User = "protokollamt"
DBName = "protokollamt"
SSLMode = "disable"

[LDAP]
ServiceAddr = "ldap.example.org:389"
ServerName = "ldap.example.org"
BindDN = "ou=users,dc=coolorg,dc=org"

[Mail]
ServiceAddr = "127.0.0.1:587"
User = "protokollamt"
