PublicAddr = "127.0.0.1:6020"
ListenAddr = "127.0.0.1:6020"

[Database]
Host = "127.0.0.1"
Port = "5432"
User = "protokollamt"
DBName = "protokollamt"
SSLMode = "disable"

[LDAP]
A = "B"

[Mail]
Host = "127.0.0.1"
Port = "587"
User = "protokollamt"
