html {
    height: 100%;
    width: 100%;
}

body { background-color: #fafafa; }

main.container-fluid { margin: 0 15px; }
.row { margin: 15px 0; }

.row > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.no-space { margin: 0; }
.overflow { overflow: hidden; }
.row > .space-right { padding-right: 15px; }
.row > .space-left { padding-left: 15px; }
.space-top { padding-top: 15px; }
.space-down { padding-bottom: 15px; }
.small-space-right { padding-right: 7px; }
.one-row-space { margin: 8px 0; }

.headline { margin-bottom: 25px; }
.login-top-row { margin-top: 12%; }
.login-header { padding: 0 0 5%; }
.table.with-bottomline { margin-bottom: 10px; }

#grayed-text { color: #999; }
.center { text-align: center; }
.right { text-align: right; }
.small-title { font-size: 26px; }
.large-item { font-size: 16px; }

.row textarea.textarea-big {
    height: 400px;
    padding: 3px 5px;
}
