html {
    height: 100%;
    width: 100%;
}

body { background-color: #fafafa; }
h1 { font-size: 26px; }
h2 { font-size: 23px; }
h3 { font-size: 20px; }
h4 { font-size: 17px; }

main.container-fluid { margin: 0 15px; }
.row { margin: 15px 0; }

.row > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.no-space { margin: 0; }
.overflow { overflow: hidden; }
.row > .space-right { padding-right: 15px; }
.row > .space-left { padding-left: 15px; }
.space-top { padding-top: 15px; }
.space-down { padding-bottom: 15px; }
.small-space-right { padding-right: 7px; }
.one-row-space { margin: 8px 0; }
.glyphicon-space-right { padding-right: 7px; }
.glyphicon-space-left { padding-left: 7px; }
main .row .two-col-left { padding-right: 5px; }
main .row .two-col-right { padding-left: 5px; }

.headline { margin-bottom: 25px; }
.login-top-row { margin-top: 12%; }
.login-header { padding: 0 0 5%; }

.center { text-align: center; }
.right { text-align: right; }
.large-item { font-size: 16px; }
.bold { font-weight: bold; }
.italic { font-style: italic; }

.row textarea.textarea-big {
    width: 100%;
    height: 400px;
    padding: 3px 5px;
}

#new-removal-form { display: none; }
#new-replacement-form { display: none; }

.form-col-wrapper {
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
}

.form-col-wrapper > [class*='col-'] { margin: 0; }
.form-col-wrapper .left { padding: 0 5px 0 0; }
.form-col-wrapper .middle { padding: 0 5px; }
.form-col-wrapper .right { padding: 0 0 0 5px; }
.form-col-wrapper .btn-primary { width: 100%; }
