<!DOCTYPE html>
<html>

    {{ template "head" . }}

    </head>

    <body>

        {{ template "navbar" . }}

        <main class = "container-fluid">

            <div class = "row">

                {{ with .FatalError }}
                <div class = "alert alert-danger"><b>{{ . }}</b></div>
                {{ end }}
                {{ range $key, $value := .Errors }}
                <div class = "alert alert-danger"><b>{{ $value }}: {{ $key }}</b></div>
                {{ end }}
                <h1 class = "small-title">{{ .MainTitle }}</h1>

            </div>

            <div class = "row">

                {{ with .Protocol }}
                <textarea class = "col-md-6 textarea-big" disabled = "disabled">{{ .InternalVersion }}</textarea>
                <textarea class = "col-md-6 textarea-big">{{ .InternalVersion }}</textarea>
                {{ end }}

            </div>

            <div class = "row">

                <div class = "overflow">
                    <button type = "submit" class = "col-md-offset-2 col-md-2 btn btn-primary">Erneut analysieren</button>
                    <button type = "submit" class = "col-md-offset-4 col-md-2 btn btn-primary">Speichern</button>
                </div>

            </div>

        </main>

    </body>

    {{ template "footer" . }}

</html>
