<!DOCTYPE html>
<html>

    {{ template "head" . }}

    </head>

    <body>

        {{ template "navbar" . }}

        <main class = "container">

            <div class = "row">

                {{ with .FatalError }}
                <div class = "alert alert-danger"><b>{{ . }}</b></div>
                {{ end }}
                {{ range $key, $value := .Errors }}
                <div class = "alert alert-danger"><b>{{ $value }}: {{ $key }}</b></div>
                {{ end }}
                {{ if .Protocols }}
                <h1 class = "col-xs-10 one-row-space">{{ .MainTitle }}</h1>
                {{ else }}
                <h1 class = "col-xs-10 one-row-space">Noch keine Protokolle hochgeladen.</h1>
                {{ end }}
                <a href = "/protocols/new" class = "col-xs-2 btn btn-primary">Neues Protokoll</a>

            </div>

            {{ with .Protocols }}
            <div class = "row">

                <ul class = "space-top">
                {{ range .}}
                    <li class = "large-item space-down"><a href = "/protocols/view/{{ .ID }}">{{ .Category }} vom {{ .MeetingDateString }}</a> - <i>{{ .Status }}</i></li>
                {{ end }}
                </ul>

            </div>
            {{ end }}

        </main>

    </body>

    {{ template "footer" . }}

</html>
