<!DOCTYPE html>
<html>

    {{ template "head" . }}
    <link rel = "stylesheet" type = "text/css" href = "/static/css/bootstrap-datepicker3.min.css" />

    </head>

    <body>

        {{ template "navbar" . }}

        <main class = "container-fluid">

            <div class = "row">

                {{ with .FatalError }}
                <div class = "alert alert-danger"><b>{{ . }}</b></div>
                {{ end }}
                {{ range $key, $value := .Errors }}
                <div class = "alert alert-danger"><b>{{ $value }}: {{ $key }}</b></div>
                {{ end }}
                <h1 class = "small-title one-row-space">{{ .MainTitle }}</h1>

            </div>

            <div class = "row">

                <form action = "/protocols/new" method = "POST" class = "form-horizontal">

                    <div class = "space-down">
                        <div class = "input-group date">
                            <input type = "text" class = "form-control" placeholder = "Datum der Sitzung" name = "protocol-date" />
                            <span class = "input-group-addon"><i class = "glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>

                    <div class = "space-down">
                        <textarea class = "form-control textarea-big" placeholder = "Protokoll der Sitzung" name = "protocol-content"></textarea>
                    </div>

                    <div class = "space-down">
                        <div class = "col-xs-offset-4 overflow">
                            <button type = "submit" class = "col-xs-4 btn btn-primary">Hochladen</button>
                        </div>
                    </div>

                </form>

            </div>

        </main>

    </body>

    {{ template "footer" . }}

    <script src = "/static/js/bootstrap-datepicker.min.js"></script>
    <script src = "/static/js/bootstrap-datepicker.de.min.js"></script>

    <script type = "text/javascript">

    $(".input-group.date").datepicker({
        format: "dd.mm.yyyy",
        todayBtn: "linked",
        clearBtn: true,
        language: "de",
        multidate: false,
        autoclose: true,
        todayHighlight: true
    });

    </script>

</html>
